import React from 'react'; 

interface I{{pascalCase name}}Props { 
  name: string; 
}

export const {{pascalCase name}} = (props: I{{pascalCase name}}Props) => { 
  const { name } = props; 
  return <div>{name}</div>; 
};